
/*some of the layout code was taken from google*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #c4c4c4;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient( 135deg, #FAD7A1 10%, #E96D71 100%);
}

.title {
  margin-top: 20px;
}

.card-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 15px;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}
.card div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: pink;
  font-size: 24px;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.card.flip {
  transform: rotateY(180deg);
}

.red {
  background: red;
}
.green {
  background: green;
}
.blue {
  background: blue;
}
.yellow {
  background: yellow;
}
.black {
  background: black;
}
.purple {
  background: purple;
}

.red,
.green,
.blue,
.yellow,
.black,
.purple {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 15px;
  backface-visibility: hidden;
}

/* the colors that show when you rotate the card around */
.green,
.blue,
.yellow,
.black,
.purple {
  transform: rotateY(180deg);
}
